header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0 10px;
  z-index: 10;
  background-color: oklch(0.278 0.033 256.848);
  border-bottom: 4px solid oklch(0.21 0.034 264.665);
  transition: background-color 0.4s ease;
  div {
  }
}
