.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

main {
  min-height: calc(100vh - 82px - 42px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
}

footer {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: oklch(0.278 0.033 256.848);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.sub--section {
  align-items: stretch;
  margin-bottom: 20px;
  max-width: none;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 0px 10px black;
  background-color: oklch(0.21 0.034 264.665);
  .switchSub {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    .switches--text {
      text-align: center;
      margin: 10px 0;
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .switches {
      display: flex;
      flex-direction: row;
      padding: 2px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      justify-content: center;
      align-content: center;

      .switches--btn {
        width: 150px;
        button {
          background-color: rgba(255, 255, 255, 0.1);
          width: 100%;
        }
        .item--active {
          background-color: #5469d4;
          color: white;
        }
      }
    }
  }

  .subs--hub {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 20px;
    button {
      &:hover {
        cursor: pointer !important;
      }
    }
  }

  @media (max-width: 1024px) {
    .subs--hub {
      flex-direction: column;
      align-items: center;
      width: 100% !important;
      div {
        width: 90% !important;
        margin-bottom: 20px;
      }
    }
  }
}
